@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="display: flex; justify-content: center; align-items: center; ">
    <div style="max-width: fit-content; margin-inline: auto; white-space: nowrap;">
        <h1 class="text-danger">Your account has not yet been verified by an administrator.</h1>
        <h2 class="text-danger">Please wait until your account has been verified for complete access.</h2>
    </div>
</div>



