@{
    ViewData["Title"] = "Home Page";
}

<section class="hero bg-secondary text-white py-5">
    <div class="container text-center">
       
        <h1 class="display-4">Welcome to ThreeSoft!</h1>
        <p class="lead">Bridging Teachers, Students, and Parents for a Universal Learning Experience</p>
        <p>ThreeSoft helps students, parents, and teachers collaborate on personalized learning plans. Our platform makes it easy to manage tasks, leave notes, and communicate effectively</p>
    </div>
</section>